<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      data-auto-a11y="true"
    ></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Sports Blog</a>
      </h1>
  <nav class="navbar mt-2">
  {{#if loggedIn}}
  <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
  <a href="/dashboard" class="navbar-item is-hoverable pt-1">dashboard</a>
  <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">create post</a>
  <button id="logout" class="btn is-danger">logout</button>
  {{else}}
  <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
  <a href="/login" class="btn is-primary">login</a>
  {{/if}}
</nav>
</header>
<main>
      {{{ body }}}
</main>
<footer class="footer rows pb-2">
      <div class="row is-full content has-text-centered">
        <a href="/">homepage</a>{{#if loggedIn}} |
        <a href="/dashboard/">dashboard</a> |
        <a href="/dashboard/create/">create new post</a>
        {{else}}
        | <a href="/login/">login</a> 
        {{/if}}
      </div>
      Thanks for visiting!
</footer>
</div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>