<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Football Fans Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      data-auto-a11y="true"
    ></script>
</head>

<body>
  <div class="wrapper">
    <header class="hero">
      <h1>
  <a href="/">Football Fans Blog</a>
</h1>
  <div>    
  <nav class="navbar mt-2">
  {{#if loggedIn}}
  <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
  <a href="/dashboard" class="navbar-item is-hoverable pt-1">Dashboard</a>
  <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">Create post</a>
  <button id="logout" class="btn is-danger">logout</button>
  {{else}}
  <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
  <a href="/login" class="btn is-primary">login</a>
  {{/if}}
</nav>
</div>

</header>
<main>
      {{{ body }}}
</main>
<footer class="footer rows pb-2">
      Thanks for visiting!
</footer>
</div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>