<section>
  <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
  <h2 class="sports_title">Post Title</h2>

  <form class="new-post-form">
    <div>
      <label for="post-sports_title"></label>
      <input class="input" type="text" id="post-sports_title" name="post-sports_title" placeholder="Create the title"/>
    </div>
    <div>
      <label for="post-comments">Post</label>
      <input class="textarea is-large" id="post-comments" name="post-comments" placeholder="Please enter your post here"/>
    </div>
    <button type="submit" class="btn is-primary is-pulled-right">Create Post</button>
  </form>
</section>
<script src="/javascript/add-post.js"></script>